.nav {
  &__tags {
    margin: 0;
    padding: 0;
  }

  &__list {
    display: flex;
    margin: 10px 20px;
    border-bottom: 2px solid #9592a6;
    margin: 0;
    padding: 10px 10px 0 10px;

    li {
      display: flex;
      align-items: flex-end;
      // min-width: 100px;
      height: 30px;
      list-style: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      min-width: 100%;
      height: 100%;
      text-decoration: none;
      background-color: #5855d6;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: -0.24px;
      color: #c0beff;
      transition: 0.2s;
      padding: 0 10px;
      white-space: nowrap;

      &_active {
        height: 110%;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: center;
      // width: 30%;

      li {
        min-width: 240px;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      &__item {
        &_active {
          height: 100%;
          font-size: 20px;
        }
      }
    }
  }
}
