@import 'src/library/styles/mixins/modalOverlay.scss';

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 20%;
  height: 15%;
  background-color: #fff;
  box-shadow: 0px 2px 14px rgba(22, 23, 24, 0.12);
  border-radius: 4px;
  outline: none;
  padding: 0 30px 30px 30px;

  &__acceptButton {
    margin: 0 auto;
    width: 30%;
  }

  & > p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #333269;
    text-align: center;
  }

  &__overlay {
    @include modalOverLay();
  }
}
