.input {
  opacity: 0;
  visibility: hidden;
  position: absolute;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    padding: 10px 0;
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 2px 14px rgba(22, 23, 24, 0.12);
      transform: scale(1.003);
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & > figure {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-bottom: 12px;
      width: 80%;
      height: 80%;

      & > svg {
        width: inherit;
        height: inherit;
      }
    }

    & > p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9592a6;
    }
  }
}
