@mixin modalOverLay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(28, 29, 29, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
