@import 'src/library/styles/variables/colors.scss';

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;

  & > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 20%;

    & > svg {
      & > path {
        fill: #333269;
      }
    }
  }

  & > span {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.24px;
    color: #333269;
  }

  &:hover {
    background-color: $brandColor;

    & > figure {
      & > svg {
        & > path {
          fill: #fff;
        }
      }
    }

    & > span {
      color: #fff;
    }
  }
}
